
// Default Color Combine
:root {
	--body: #f0faff; /* Bleu très clair pour un fond apaisant */
	--black-clr: #002147; /* Bleu marine foncé pour le texte et les contrastes */
	--white-clr: #ffffff; /* Blanc pur */
	--p1-clr: #50a9f1; /* Bleu vif et lumineux pour les accents principaux */
	--p2-clr: #b3e6ff; /* Bleu pastel doux pour les zones secondaires */
	--p900-clr: #003366; /* Bleu profond pour les zones de contenu clé */
	--p800-clr: #6699cc; /* Bleu doux pour les détails ou arrière-plans */
	--p700-clr: #336699; /* Bleu moyen pour les textes secondaires ou les bordures */
	--p200-clr: #e6f7ff; /* Bleu très pâle pour les zones légères */
	--p100-clr: #f2fcff; /* Blanc bleuté pour une touche subtile */
	--shadow-clr: rgba(51, 153, 255, 0.2) 0px 2px 8px 0px; /* Ombre avec un ton bleu léger */
}

// Default Color Combine
$body: var(--body);
$black-clr: var(--black-clr);
$white-clr: var(--white-clr);
$p1-clr: var(--p1-clr);
$p2-clr: var(--p2-clr);
$p900-clr: var(--p900-clr);
$p800-clr: var(--p800-clr);
$p700-clr: var(--p700-clr);
$p200-clr: var(--p200-clr);
$p100-clr: var(--p100-clr);
$shadow-clr: var(--shadow-clr);
